<p-menubar [model]="items">
  <img src="./favicon.ico" />
</p-menubar>


<!--
<p-sidebar [(visible)]="display">
  Content
</p-sidebar>
<p-button type="text" (click)="display = true" icon="pi pi-plus" label="Show" ></p-button>
-->
