<div class="text-layout">
  <h1>Pipes basicos</h1>
  <p>Pipes incluidos en angular - Usualmente en el common</p>

</div>

<div class="p-grid">
  <div class="p-col-4">
    <p-card header="uppercase">{{ nombres | uppercase}}</p-card>
  </div>
  <div class="p-col-4">
    <p-card header="uppercase">{{ nombres | lowercase}}</p-card>
  </div>
  <div class="p-col-4">
    <p-card header="uppercase">{{ nombres | titlecase}}</p-card>
  </div>
</div>



<div class="text-layout">
  <h1>Pipes Fechas</h1>
  <p>Pipes Fechas</p>

</div>
<div class="p-grid">
  <div class="p-col-6">
    <p-card>
  <ul>
    <li>fecha</li>
    <li>fecha | date</li>
    <li>fecha | date:'short'</li>
    <li>fecha | date:'long'</li>
    <li>fecha | personalizada</li>
  </ul>
  <hr>
  <ul>
    <li> fecha | date:'long':'GMT-6' </li>
  </ul>
    </p-card>
  </div>
  <div class="p-col-6">
    <p-card >
      <ul>
        <li>{{ fecha }}</li>
        <li>{{ fecha | date }}</li>
        <li>{{ fecha | date:'short' }}</li>
        <li>{{ fecha | date:'long' }}</li>
        <li>{{ fecha | date:'EEEE dd-MMMM-YYYY hh:mm:ss' | titlecase}}</li>
      </ul>
      <hr>
      <ul>
        <li>{{ fecha | date:'long':'GMT-6' }}</li>
        <li>{{ fecha | date:'long':'GMT-5' }}</li>
      </ul>
    </p-card>
  </div>
</div>
