<!--<div class="text-layout">
  <h1>{{nombre |titlecase}}</h1>
</div>




<button pButton pRipple type="button" label="Mostrar Nombre" (click)="mostrarNombre()" class="p-button-help"
  icon="pi pi-bell" iconPos="right"></button>


<p-card [header]="nombre | titlecase" subheader="Esto es subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, quaerat dignissimos? Error quae eligendi numquam
    ipsum explicabo, nemo quidem, obcaecati molestias assumenda velit illum, voluptates beatae a voluptatum quod
    consequatur.
</p-card>-->

<app-menu></app-menu>
<router-outlet></router-outlet>
